@import "components/navbar_transparent";


.slider-banner {
  position: relative;

  .welcome-card {
    position: absolute;
    top: 50%;
    left: -12rem;
transform: translateY(-50%);
    width: 750px;
    background: #ffffff;
    img{
      height: 4rem;
      object-fit: cover;
      object-position: center;
    }
  }
}
