@import "../common-bootstrap";
@import "../components/navbar_transparent";
@import "../components/circle";



.view {
  background-image: url("https://cdn.veltacorp.com/img/fondo_nosotros2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;


  #video {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .125);
    }

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
      width: 0;
      transition: all .5s ease-in-out;

      &.active {
        top: 0;
        left: 0;
        transform: unset;
        width: 100%;
        height: 100%;
      }
    }

  }


  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;
    width: 100%;


    i {
      cursor: pointer;
      transition: all .25s ease-in;

      &.active {
        color: theme-color('primary');
      }

      &:hover {

        color: theme-color('primary');
        transform: scale(1.25);
      }
    }


  }
}


.about {
  .title {
    position: relative;


    .circle {
      position: absolute;
      top: -3rem;
      left: -3rem;
      z-index: -1;
      opacity: .95;
    }

    @include media-breakpoint-down(md) {
      .circle {
        top: -6.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.vision {
  .vision-section {
    height: 40rem;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    text-align: justify;
    @include media-breakpoint-down(lg) {
      height: auto;
    }
  }

}


