.bootstrap-tagsinput{
  border: none;
  background: transparent ;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding: 1.25rem 0.5rem;

  input{
    border:none;
  }
  .tag{
    margin-right:0.5rem;
    margin-top:0.5rem;

  }
}
